body {
    .main-logo {
        max-width: none;
    }
    
    .posts {
        >div {
            display: inline-block;
            width: 20%;
            margin: 20px;
            padding: 10px;
        }
    }
    
    .post-image {
        display: block;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 700px) {
    body {
        .posts {
            >div {
                display: block;
            }
        }
    }
  }

html.light {
    body {
        .post-page-title, .home-page-title {
            color: #000;
        }
    }
}
